<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>name</th>
            <th>diameter (in km)</th>
            <th>climate</th>
            <th>terrain</th>
            <th>surface water (in percentage)</th>
            <th>population in formatted way</th>
            <th>if the planet has residents</th>
        </tr>

        <tr>
            <td>dljksldjf</td>
            <td>lsjfl</td>
            <td>ksdfkl</td>
            <td>slkfjs</td>
            <td>klsdf</td>
            <td>skjdnf</td>
            <td>
                <button id="btn-details" class="btn">Details</button>
                   <div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal" >

                      <!-- Modal content -->
                      <div class="modal-content" id="ajax-content">
                        <span class="close">&times;</span>
                        <table>
                            <tr>
                                <th>name</th>
                                <th>height (in meters)</th>
                                <th>mass (in kg)</th>
                                <th>skin color</th>
                                <th>hair color</th>
                                <th>eye color</th>
                                <th>birth year</th>
                                <th>gender (an icon representation)</th>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                          </div>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>