<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>name</th>
            <th>diameter (in km)</th>
            <th>climate</th>
            <th>terrain</th>
            <th>surface water (in percentage)</th>
            <th>population in formatted way</th>
            <th>if the planet has residents</th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button id="btn">Details</button>
                   <div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal" >

                      <!-- Modal content -->
                      <div class="modal-content" datasrc="" data-url="">
                        <span class="close">&times;</span>
                        <p></p>
                      </div>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>